{% extends 'base.html' %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monthly Challenges</title>
</head>
<body>
    <h1>{{ month_name|title }} Challenge</h1>
    <!-- <h2>Go for a walk for a walk for at least 20 minutes</h2> -->

    {% if text is not None %}
        <h2>
            {{ text }}
        </h2>
    {% else %}
        <p>There is no challenge for this month yet</p>
 {% endif %}
    {% comment %} <p>There is no challenge for this month yet</p> {% endcomment %}
    
</body>
</html>